

body{
    font-family: Roboto;
    background-color: #FFFFFF; 
    letter-spacing: 0.03em;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
a { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
/* WebStudio */

.logo {
    color: #000000;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 1,2;
        letter-spacing: 0.03em;
        margin-right: 93px;
    }
.logo-header {
        color: #2196F3;
    }
.logo-footer{
        color: #FFFFFF;
    } 

.page-header{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.meny-nav {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 14px;
    color: #212121; 
    position: relative;
    transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.current::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2196F3;
    left: 0;
    bottom: -20px;
}

.meny-nav.current{
    color: #2196F3;
}

/* .meny-nav.mail::before{
    content: ""
} */

.list{
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    margin-top: 20px;
    line-height:0.6;

}

.list-flax {
    display: flex;
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.list-item:not(:last-child){
    margin-right: 50px;
}

.adress-flax {
    color: #757575;
    display: flex;
    font-style:normal;
    /* margin-left: 0px; */
    align-items: flex-end;
    padding-left: 0px;
} 

.adress-list .icon-adr{
    display: inline-block;
    margin-right: 10px;
    fill: #757575;
    transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-item:hover .icon-adr {
    fill: #2196F3;
    
}

.adress-item:hover {
    color:#2196F3;
}


/* .adress-list :hover{
    fill:#2196F3;
    color:#2196F3;
} */
.adress-flax .mail{
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    /* padding-right: 30px; */
}

/* .adress-flax .mail::before{
content: url(../image/mail.png);
margin-right: 10px;
background-size: contain;
}

.adress-flax .tell::before{
    content: url(../image/Vector-tell.png);
    margin-right: 10px;
    background-size: contain;  
} */



.header-container{
    display: flex;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: auto;
}


/* Эффективные решения для вашего бизнеса */

.site-header{
    max-width: 1600px;
    height: 600px;
    background-color: #c4c4c4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),url(../image/герой.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.site-header h1{
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    padding: 10px 32px;
    background-color: #2196F3;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    border-radius: 4px;
    font-size: 16px;
    line-height: 30px;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.conteiner{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 94px; */
    
}
/* .conteiner-portfolio{
    margin-top: 94px;
    
} */

.heading{
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 42px;
}


/* Особенности команды */

.conteiner-features{
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 0px;
    
}

.features{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;   
}
.section .item-title {
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-size: 14px;}

.conteiner-features.item-text{
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
}


h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    margin-top: 0px;
}

.features-list{
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
  flex-basis: calc((100% -  3* 30px) / 4);
  list-style: none;
  /* margin: 0px;
  padding: 0px; */
}   

.features-list:nth-child(4n) {
    margin-right: 0px;}

.features-list::before{
    display: block;
    content: "";
    /* outline: 1px solid red; */
    /* width: 270px; */
    height: 120px;
    background: #F5F4FA;
}

.icon-attention::before{
    background-image: url(../image/спутник.png);
}

.icon-punctuality::before{
    background-image: url(../image/часы.png)
}

.icon-planning::before{
    background-image: url(../image/план.png)
}

.icon-modern::before{
    background-image: url(../image/космонавт.png)
}

.features p {
    color: #757575;
}
.features h3 {
    color: #212121;;
}


/* Чем мы занимаемся */

.features-work{
    /* padding-top: 94px; */
    padding-bottom: 94px ;
}

 .work-list{
    display:flex ;
    padding-left: 0px;
    padding-top: 0px;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
 }

 .work-item{
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    width: calc((100% - 30px * 2) / 3);
}


.work-item:nth-child(3n){
    margin-right: 0px;
 }

/* label */

.thumb {
    position: relative;
    /* margin: 10px; */
}

.thumb > .label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 27px 82px;
  
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
}

/* .label{
    background: rgba(47, 48, 58, 0.8);
}

.label p{
    margin: 0px;
} */




/* Наша команда */

.section-team{
    /* padding-top: 94px; */
    padding-bottom: 94px ;
    margin-bottom: 94px;
    background: #F5F4FA;
}

/* .section-team h2 {
    margin-bottom: 50px;
    margin-top: 0px; */

.team{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;}

.team p {
    /* color: #757575; */
    margin:0px;
    /* position: inherit; */
}

img, svg{
    display: block;
    max-width: 100%;
    height: auto;
}
    

.team-list{
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    width: calc((100% - 30px * 3) / 4);
    background: #FFFFFF;
}

.team-list:not(:last-child){
    margin-right: 30px;
    /* flex-basis: calc((100% - 3 * 30px) / 4); */
    
}
.team-list:last-child{
    margin-right: 0px;
}

.social-net{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.list-social{
    margin-top: 16px;
    margin-bottom: 30px;
}

.list-social:not(:last-child){
    margin-right: 10px;
}

.list-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    /* background-color:#FFFFFF; */
    border-radius: 50px;
    transition:background 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon{
    width: 20px;
    height: 20px;
    fill:#AFB1B8
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}

.list-social-link .icon{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-link:hover {
    background: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-link:hover .icon {
    fill: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    


/* .team-list:nth-last-child(-n + 5){
    margin-bottom: 0px;
} */

/* Наши клиенты */

.section-clients{
    margin-bottom: 94px;
}

.client-brand{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 90px;
    /* outline: 1px solid red; 
*/
}
.client-brand-list{
    flex-basis: calc((100% - 5 * 30px) / 6);
    /* margin-right: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .section-clients h2{
    margin-bottom: 50px;
    margin-top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em
} */

.client-brand-list:not(:last-child){
    margin-right: 30px;
}

.client-brand-list:hover,
.client-brand-list:focus
/* .client-brand-list:hover .brand,
.client-brand-list:focus .brand */
 {
    border-color:#2196F3;
    fill: #2196F3;
}

.client-brand-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 90px; 
    /* transition: 700ms cubic-bezier(0.4, 0, 0.2, 1); */
}


.client-brand-link:hover .brand{
    fill: #2196F3;
    
}

.brand{ 
    fill: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* .brand:hover{
    fill: #2196F3;
} */

/* Подвал */

.fotter{
    /* font-weight: 400; */
    font-style: normal;
    font-size: 14px;
    background-color: #2F303A;;
    padding-top:  60px;
    padding-bottom:  60px;
}

.fotter-position{ 
    width: 1200px;
    padding: 0px 15px 0 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: baseline;
}


.fotter-list{

    display: flex;
    flex-direction: column;
    margin-right: 70px;
    font-size: 14px;
    line-height: 0.6;
}

.fotter-position h2{
    /* text-align:center; */
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 15px;
    color: #FFFFFF;
    /* position: absolute; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.adress-list:not(:last-child){
    /* margin-top: 20px; */
    margin-right: 30px;
}


.fotter-social-list{
    padding-top: 20px;
}

.fotter-social-link{
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    /* fill: #ffffff; */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition:background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .list-social-link .icon{ 
    fill: #AFB1B8;
} */

.logo-footer{
    display: block;
    /* margin-top: 60px; */
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    inline-size: 1.2;
    line-height: 31px;
    /* position: absolute; */
    margin: 0px;
}
.fotter-nav{
    color: rgba(255, 255, 255, 0.6);
    /* margin-bottom: 9px; */
    font-family: Roboto;
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    margin-top: 9px;
}
.fotter-adress{
    color: #FFFFFF;
    display: block;
}

.fotter-nav:hover,
.fotter-nav:focus {
  text-decoration: underline;}

.icon-ft{
    width: 20px;
    height: 20px;
    fill:#FFFFFF;
}

.fotter-social-link:hover{
    background: #2196F3;
}

.list-social-fot:not(:last-child){
    margin-right: 10px;
}

.icon-send{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}


/* Потрфолио */
.logo-footer {
    color:  #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
 .fotter-logo {
    color: #2196F3;
 }

/* Модальное окно */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color:#FFFFFF;
    
}

.modal-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:#FFFFFF; ;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close{
    fill:#000000;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:focus .icon-close{
    fill: #2196F3;
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

textarea{
    resize: none;
} 

.form-service{
    margin-left: auto;
    margin-right: auto;
    /* padding: 40px; */
}

.form-service p{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 12px;

    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 0.03em;

    color: #212121;
}


.service-input{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* text-align: left; */

}

.service-input input{
    
    width: 100%;
    margin: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 35px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-input label{
    margin-bottom: 4px;

    font-family: Roboto;
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.01em;

    color: #757575;
}

.service-input textarea{
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    color: #757575;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-input::placeholder{
    font-family: Roboto;
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.01em;
 
}

.modal-icon{
    position: absolute;
    top: 50%;
    left: 14px;
    display: inline-block;
    width: 18px;
    height: 18px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-input input:focus,
.service-input input:focus + .modal-icon {
    fill: #2196f3;
    outline-color: #2196F3;
    
}
.service-input textarea:focus{
    outline-color: #2196F3;
}

.privacy{
    position: relative;
    margin-right: 12px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 30px;
}

.privacy label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    user-select: none;
}

.privacy a{
    display: inline-block;
    color: #2196f3;
    text-decoration:underline;
}

.privacy input{
    -webkit-appearance:none ;
    -moz-appearance: none;
    appearance: none;
}

.checked {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
}

.privacy input:checked + .checked{
    background-color: #2196F3;
    border-color:#2196F3;
    /* background-position: center; */
    background-size: contain;
    background-image: url(../image/modal-icon/check.svg);
}



.button-privacy{
    margin-top: 30px;
    border-style: none;
    padding: 10px 55px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    transform: translateX(60%);

    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* Портфолио */

 .conteiner-portfolio{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.team{
    padding-left: 0px;
    padding-top: 0px;
    display:flex ;
    flex-wrap: wrap;
    /* margin-right: 30px; */
    margin-bottom: 30px;  
}

.team-folio{
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    width: calc((100% - 30px * 2) / 3);
    border: 1px solid #EEEEEE;
}

.team-folio:nth-child(3n){
    margin-right: 0px;
}

/* .team-folio:nth-last-child(-n + 4){
    margin-bottom: 0px;
}  */

.team-folio:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.folio-card{
    /* margin-top: 34px;
    margin-bottom: 30px; */
    background: #FFFFFF;
    /* border: 1px solid #EEEEEE; */
    box-sizing: border-box;
    text-align: left;
}


.portfolio-thumb{
    position: relative;
    overflow: hidden;
}


.text-overlay{
    position: absolute;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: #fff;
    text-align: left;
    align-items: center;
    padding: 63px 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.folio-card:hover .text-overlay,
.folio-card:focus .text-overlay{
    transform: translatey(0);
    opacity: 1;
}

.tittle{
    text-align: left;
    color: #212121;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    
}

.text{
    margin-top: 4px;
    color: #757575;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.button-filter{
    text-align: center;
    margin-bottom: 34px;
}

/* Фильтр портфолио */
.filter{
    padding: 6px 22px;
    border-style: none;
    background: #f5f4fa;
    border-radius: 4px;
    margin-right: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.filter:last-child{ 
    margin-right: 0px;
}

 .filter:hover,
 .filter:focus{
    color: #F5F4FA;
    background-color: #2196F3;
    padding: 6px 22px;
    border-style: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 }
 
 .portfolio h1{
    color: #212121;
 }

 /* .portfolio p{
    color: #757575;
 } */

 li{
    list-style-type: none;}

 .list{
     font-style: normal;}

